<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('user_statics', path='/reset_password.js') }}"></script>
    </head>
    <body>
        <from id = "login-form" onsubmit = "return reset_password()" >
            <input type="text" placeholder="email" id ='email'>
            <input type="password" placeholder="new password" id ='password'>
            <input type="text" id = 'token' value="{{ request.query_params.get('token') }}" hidden>
            <input type="text" value="not_yet_implemented_csrf_token" hidden>
            <input type="submit" value="Reset">
        </from>
        
        <div id = "demo">

        </div>
    </body>
</html>